/vendor
/node_modules

/.env
/.env.*
!.env.example

/database/*.sqlite
/database/*.sqlite-*
/database/database.sqlite

/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

/bootstrap/cache/*.php

/public/storage
/public/hot
/public/build

/.phpunit.cache
/.pest.cache
/coverage

.DS_Store
.idea
.vscode
