APP_DEBUG=false
APP_ENV=production
APP_FALLBACK_LOCALE=en
APP_KEY=
APP_LOCALE=en
APP_NAME=
APP_URL=
CACHE_STORE=
DB_CONNECTION=
DB_DATABASE=
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_USERNAME=
LOG_CHANNEL=
LOG_LEVEL=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
MAIL_MAILER=
QUEUE_CONNECTION=redis
RATEGURU_IMAGE_DRIVER=local
REDIS_CLIENT=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_QUEUE=
REDIS_QUEUE_CONNECTION=
REDIS_QUEUE_RETRY_AFTER=
SESSION_DRIVER=
SESSION_LIFETIME=
SESSION_SECURE_COOKIE=true
