APP_DEBUG=false
APP_DEPLOYMENT_TARGET=staging-main
APP_ENV=staging
APP_FALLBACK_LOCALE=en
APP_KEY=
APP_LOCALE=en
APP_MAINTENANCE_DRIVER=
APP_NAME=
APP_URL=
BCRYPT_ROUNDS=
BROADCAST_CONNECTION=
CACHE_STORE=
DB_CONNECTION=
DB_DATABASE=
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_USERNAME=
FILESYSTEM_DISK=
LOG_CHANNEL=
LOG_LEVEL=
LOG_STACK=
MAIL_FROM_ADDRESS=noreply@staging.invalid
MAIL_FROM_NAME="${APP_NAME}"
MAIL_HOST=127.0.0.1
MAIL_MAILER=smtp
MAIL_PASSWORD=
MAIL_PORT=1025
MAIL_SCHEME=
MAIL_USERNAME=
NIGHTWATCH_CAPTURE_REQUEST_PAYLOAD=false
NIGHTWATCH_COMMAND_SAMPLE_RATE=1.0
NIGHTWATCH_ENABLED=false
NIGHTWATCH_EXCEPTION_SAMPLE_RATE=1.0
NIGHTWATCH_IGNORE_MAIL=true
NIGHTWATCH_IGNORE_NOTIFICATIONS=true
NIGHTWATCH_INGEST_URI=127.0.0.1:2407
NIGHTWATCH_LOG_LEVEL=warning
NIGHTWATCH_REQUEST_SAMPLE_RATE=0.10
NIGHTWATCH_TOKEN=
QUEUE_CONNECTION=redis
MEDIA_PUBLIC_DISK=
REDIS_CACHE_DB=
REDIS_CLIENT=
REDIS_DB=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_PREFIX=
REDIS_QUEUE=
REDIS_QUEUE_CONNECTION=
REDIS_QUEUE_RETRY_AFTER=
SENTRY_DSN=
SENTRY_ENABLE_LOGS=false
SENTRY_ENABLE_METRICS=false
SENTRY_ENVIRONMENT=staging
SENTRY_PROFILES_SAMPLE_RATE=0
SENTRY_SAMPLE_RATE=1.0
SENTRY_SEND_DEFAULT_PII=false
SENTRY_TRACES_SAMPLE_RATE=1.0
SESSION_DOMAIN=
SESSION_DRIVER=
SESSION_ENCRYPT=
SESSION_LIFETIME=
SESSION_PATH=
SESSION_SECURE_COOKIE=true
