APP_DEBUG=false
APP_ENV=staging
APP_FALLBACK_LOCALE=en
APP_KEY=
APP_LOCALE=en
APP_MAINTENANCE_DRIVER=
APP_NAME=
APP_URL=
BCRYPT_ROUNDS=
BROADCAST_CONNECTION=
CACHE_STORE=
DB_CONNECTION=
DB_DATABASE=
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_USERNAME=
FILESYSTEM_DISK=
LOG_CHANNEL=
LOG_LEVEL=
LOG_STACK=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
MAIL_MAILER=
QUEUE_CONNECTION=redis
RATEGURU_IMAGE_DISK=
RATEGURU_IMAGE_DRIVER=local
REDIS_CACHE_DB=
REDIS_CLIENT=
REDIS_DB=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_PREFIX=
REDIS_QUEUE=
REDIS_QUEUE_CONNECTION=
REDIS_QUEUE_RETRY_AFTER=
SESSION_DOMAIN=
SESSION_DRIVER=
SESSION_ENCRYPT=
SESSION_LIFETIME=
SESSION_PATH=
SESSION_SECURE_COOKIE=true
